expenses, operating expenses, or other items of income or loss in the quarterly and annual Combined Statements of Operations, as appropriate, agree with the FR 34 balance of profit and loss account 330-100. If, however, reconciliation to the FR 34 balance is necessary, the reconciliation should be provided to the RBOPS Financial Accounting Policy and Reporting Section. Return to text 3. The Reserve Banks may, in appropriate circumstances and with advice from its General Counsel, institute a disadvantaged business program, so long as that program does not include provisions that would be unlawful if included in a disadvantaged business program of a federal agency. Return to text 4. The earnings credits program was eliminated in July 2012. All earnings credits expired by July 2013; therefore, the FR 1217 was discontinued after the second quarter of 2013. Return to text Back to Top Last Update: June 13, 2025