Board point of contact. Please select the embedded links for information regarding Current Status of States/Territories and a list of Acceptable identifications . FRB COVID-19 Entry Restrictions-Requirements for Entering Board Facilities Visitors should not enter Board owned or leased office space if they have tested positive for COVID-19 and the CDC's guidance for people with COVID-19 recommends you isolate. If you are feeling ill with symptoms associated with COVID-19 , the cold, the flu, or any other illness you should not enter Board's premises (including leased space). If you believe that you have been exposed to COVID-19, please refer to the CDC's guidance, What to Do If You Were Exposed to COVID-19 for additional information on steps to take to keep yourself and others safe. Back to Top Last Update: October 03, 2023